<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  
    <configSections>
        <sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="TradingServer.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
        </sectionGroup>
    </configSections>
  
    <system.diagnostics>
     <sources>
         <source name="UserTraceSource" switchValue="Warning, ActivityTracing" >
            <listeners>
                <add name="xml"
                   type="System.Diagnostics.XmlWriterTraceListener"
                   initializeData="C:\logs\UserTraces.svclog" />
            </listeners>
         </source>
     </sources>
     <trace autoflush="true" /> 
  </system.diagnostics>
  
    <connectionStrings>
        <add name="TradingServer.Properties.Settings.SyTradingConnectionString"
            connectionString="Data Source=118.69.62.203,1434;Initial Catalog=SyTrading;User ID=sa"
            providerName="System.Data.SqlClient" />
    </connectionStrings>
  
    <system.serviceModel>
        <bindings>
            <basicHttpBinding>
                <binding name="BasicHttpBinding_IStreamAlertWCF" closeTimeout="00:01:00"
                    openTimeout="00:01:00" receiveTimeout="00:10:00" sendTimeout="00:01:00"
                    allowCookies="false" bypassProxyOnLocal="false" hostNameComparisonMode="StrongWildcard"
                    maxBufferPoolSize="524288" maxBufferSize="65536" maxReceivedMessageSize="65536"
                    textEncoding="utf-8" transferMode="Buffered" useDefaultWebProxy="true"
                    messageEncoding="Text">
                    <readerQuotas maxDepth="32" maxStringContentLength="8192" maxArrayLength="16384"
                        maxBytesPerRead="4096" maxNameTableCharCount="16384" />
                    <security mode="None">
                        <transport clientCredentialType="None" proxyCredentialType="None"
                            realm="" />
                        <message clientCredentialType="UserName" algorithmSuite="Default" />
                    </security>
                </binding>
              
                <binding name="BasicHttpBinding_ITradingWCF" closeTimeout="00:01:00"
                    openTimeout="00:01:00" receiveTimeout="00:10:00" sendTimeout="00:01:00"
                    allowCookies="false" bypassProxyOnLocal="false" hostNameComparisonMode="StrongWildcard"
                    maxBufferPoolSize="524288" maxBufferSize="65536" maxReceivedMessageSize="65536"
                    textEncoding="utf-8" transferMode="Buffered" useDefaultWebProxy="true"
                    messageEncoding="Text">
                    <readerQuotas maxDepth="32" maxStringContentLength="8192" maxArrayLength="16384"
                        maxBytesPerRead="4096" maxNameTableCharCount="16384" />
                    <security mode="None">
                        <transport clientCredentialType="None" proxyCredentialType="None"
                            realm="" />
                        <message clientCredentialType="UserName" algorithmSuite="Default" />
                    </security>
                </binding>
              
                <binding name="BasicHttpBinding_ITradingWCF1" closeTimeout="00:01:00"
                    openTimeout="00:01:00" receiveTimeout="00:10:00" sendTimeout="00:01:00"
                    allowCookies="false" bypassProxyOnLocal="false" hostNameComparisonMode="StrongWildcard"
                    maxBufferPoolSize="2147483647" maxBufferSize="2147483647"
                    maxReceivedMessageSize="2147483647" textEncoding="utf-8" transferMode="Buffered"
                    useDefaultWebProxy="true" messageEncoding="Text">
                    <readerQuotas maxDepth="32" maxStringContentLength="8192" maxArrayLength="16384"
                        maxBytesPerRead="4096" maxNameTableCharCount="16384" />
                    <security mode="None">
                        <transport clientCredentialType="None" proxyCredentialType="None"
                            realm="" />
                        <message clientCredentialType="UserName" algorithmSuite="Default" />
                    </security>
                </binding>
              
                <binding name="BasicHttpBinding_IPriceQuotes" closeTimeout="00:01:00"
                    openTimeout="00:01:00" receiveTimeout="00:10:00" sendTimeout="00:01:00"
                    allowCookies="false" bypassProxyOnLocal="false" hostNameComparisonMode="StrongWildcard"
                    maxBufferPoolSize="524288" maxBufferSize="65536" maxReceivedMessageSize="65536"
                    textEncoding="utf-8" transferMode="Buffered" useDefaultWebProxy="true"
                    messageEncoding="Text">
                    <readerQuotas maxDepth="32" maxStringContentLength="8192" maxArrayLength="16384"
                        maxBytesPerRead="4096" maxNameTableCharCount="16384" />
                    <security mode="None">
                        <transport clientCredentialType="None" proxyCredentialType="None"
                            realm="" />
                        <message clientCredentialType="UserName" algorithmSuite="Default" />
                    </security>
                </binding>
              
                <binding name="BasicHttpBinding_IBrokerWCF" />
            </basicHttpBinding>
        </bindings>
        <client>
            <endpoint address="http://streamfilewcf.sycomore.vn:2002/StreamAlertWCF.svc"
                binding="basicHttpBinding" bindingConfiguration="BasicHttpBinding_IStreamAlertWCF"
                contract="StreamWCF.IStreamAlertWCF" name="BasicHttpBinding_IStreamAlertWCF" />
            <endpoint address="http://tradingwcf.sycomore.co.uk/TradingWCF.svc"
                binding="basicHttpBinding" bindingConfiguration="BasicHttpBinding_ITradingWCF"
                contract="TradingWCF.ITradingWCF" name="BasicHttpBinding_ITradingWCF" />
            <endpoint address="http://tradingwcf.sycomore.vn/TradingWCF.svc"
                binding="basicHttpBinding" bindingConfiguration="BasicHttpBinding_ITradingWCF1"
                contract="Trading.ITradingWCF" name="BasicHttpBinding_ITradingWCF1" />
            <endpoint address="http://tradingwcf.sycomore.co.uk/PriceQuotes.svc"
                binding="basicHttpBinding" bindingConfiguration="BasicHttpBinding_IPriceQuotes"
                contract="PriceQuotes.IPriceQuotes" name="BasicHttpBinding_IPriceQuotes" />
            <endpoint address="http://testbroker.sycomore.vn/BrokerWCF.svc"
                binding="basicHttpBinding" bindingConfiguration="BasicHttpBinding_IBrokerWCF"
                contract="BrokerWCF.IBrokerWCF" name="BasicHttpBinding_IBrokerWCF" />
        </client>
    </system.serviceModel>

  <appSettings>
    <add key="nj4x_activation_key" value="2487389417"/>
    <add key="broker" value="PTMillennium-Demo Accounts Server"/>

    <add key="account" value="969679"/>
    <add key="password" value="abc123"/>

    </appSettings>

  <applicationSettings>
    <TradingServer.Properties.Settings>
      <setting name="broker" serializeAs="String">
        <value>test</value>
      </setting>
    </TradingServer.Properties.Settings>
  </applicationSettings>
</configuration>
